body {
    font-family: 'Josefin Sans', serif;
}
  
header, footer {
    background-color: navajowhite; 
}

/* item */
.item {
    color: white;
    background-color:coral;
}

.item:hover p.new-label span{
    display: none;
}

.item:hover p.new-label:after{
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    content: 'January';
}

.item:hover p.new-label2 span{
    display: none;
}

.item:hover p.new-label2:after{
    font-size: 70px;
    font-weight: bold;
    text-transform: uppercase;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    content: 'February';
}

/* feature */
.feature:hover {
    background-color: navajowhite; 
}

/* navigation  */
.nav-pills > li > .nav-link {
    color: red;
}

.nav-pills > li > .nav-link:hover {
    color: white;
    background-color:coral !important;
    border-radius: 30px;
}

.nav-pills > li > a.active {
    background-color:coral !important;
}

footer > p > a {
    color: red;
}